@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,regular,500,700&display=swap);


@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-call:before {
  content: "\e900";
}

._icon-corona:before {
  content: "\e901";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #3E3E3E;
  line-height: 1;
  font-family: "roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #F2F2F2;
}

body::-webkit-scrollbar {
  width: 0;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.wrapper>main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.wrapper>* {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 65.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
  object-fit: contain;
}

.title {
  font-weight: 700;
  letter-spacing: -0.09375rem;
  color: #000;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 24px;
}

.title::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  bottom: 0;
  background: url("../img/corona.svg") center/cover no-repeat;
}

.title-column {
  font-size: 0.875rem;
  line-height: 1.9285714286;
  color: #9fadc2;
}

.button {
  font-weight: 700;
  line-height: 0.875;
  color: #0075FF;
  border-radius: 0.5rem;
  border: 0.125rem solid #0075FF;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.button:active {
  -webkit-box-shadow: 0 0.5rem 0.875rem 0 rgba(0, 83, 181, 0.478);
  box-shadow: 0 0.5rem 0.875rem 0 rgba(0, 83, 181, 0.478);
  background-color: #005ECC;
  color: #fff;
}

.icon-menu {
  display: block;
  position: relative;
  width: 1.5rem;
  height: 1.125rem;
  z-index: 5;
  border-radius: 0.125rem;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #fff;
}

.icon-menu::before {
  top: 0;
}

.icon-menu::after {
  bottom: 0;
}

.icon-menu span {
  top: calc(50% - 0.0625rem);
}

.menu-open .icon-menu {
  position: fixed;
  left: 9.8412698413%;
}

.menu-open .icon-menu span {
  width: 0;
}

.menu-open .icon-menu::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu-open .icon-menu::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header {
  padding: 1.5rem 0rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 50;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header::before {
  content: "";
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 119, 255, 0.85);
  z-index: 4;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.menu-open .header::before {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.header._header-scroll {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: rgba(56, 56, 242, 0.6);
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 0.9375rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.125rem;
  flex: 0 0 8.125rem;
  position: relative;
  z-index: 4;
}

.header__logo img {
  max-width: 100%;
}

.header__items-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  gap: 1.25rem;
  position: relative;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header__link--tell {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.header__link--number {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
  top: 50%;
  left: 0;
  width: 8.875rem;
  font-size: 0.75rem;
  line-height: 1.3333333333;
  font-weight: 700;
  letter-spacing: 0.125rem;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.menu__body {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  padding-left: 9.8412698413%;
  z-index: 3;
  padding-bottom: 1.25rem;
  padding-right: 1.25rem;
  background-color: #0075FF;
  overflow: auto;
}

.menu-open .menu__body {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.menu__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2rem;
}

.menu__list li {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
}

.menu__list:not(:last-child) {
  margin-bottom: 3rem;
}

.menu__item {
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: #fff;
}

._watcher-view .menu__item {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.menu__link {
  position: relative;
}

.menu__link::before {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125rem;
  bottom: -0.375rem;
  left: 0;
  background-color: #fff;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.menu__actions {
  font-size: 0.75rem;
  line-height: 1.3333333333;
  font-weight: 700;
  letter-spacing: 0.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 1rem;
  color: #fff;
}

.menu__call {
  display: inline-block;
  opacity: 0;
  -webkit-transform: translateY(-70%);
  -ms-transform: translateY(-70%);
  transform: translateY(-70%);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

._watcher-view .menu__call {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.menu__order {
  display: inline-block;
  opacity: 0;
  -webkit-transform: translateY(70%);
  -ms-transform: translateY(70%);
  transform: translateY(70%);
  position: relative;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.menu__order::before {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125rem;
  bottom: -0.375rem;
  left: 0;
  background-color: #fff;
}

._watcher-view .menu__order {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.background {
  position: relative;
  min-height: 100vh;
}

.background__img-ibg {
  position: static;
}

.background__body {
  position: relative;
  z-index: 2;
  min-height: 100vh;
}

.background__title {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 28.125rem;
  font-weight: 700;
  font-size: 5rem;
  line-height: 1;
  letter-spacing: -0.09375rem;
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0.8s ease 1s;
  -o-transition: all 0.8s ease 1s;
  transition: all 0.8s ease 1s;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 1.25rem 0rem 5rem;
}

.background__title::before {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 0.125rem;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 2;
}

.background ._watcher-view {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.info__container {
  display: grid;
  -webkit-column-gap: 0.9375rem;
  -moz-column-gap: 0.9375rem;
  column-gap: 0.9375rem;
  row-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
}

.info__title {
  max-width: 15.625rem;
  color: #000;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  letter-spacing: -0.09375rem;
  opacity: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.info__title span {
  color: #0075FF;
}

._watcher-view .info__title {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.info__body {
  opacity: 0;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

.body-info__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.25;
  color: #0075FF;
}

.body-info__title:not(:last-child) {
  margin-bottom: 1rem;
}

.body-info__text {
  line-height: 1.6875;
}

.body-info__text p:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.body-info__text:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.body-info__subtitle {
  font-weight: 700;
  line-height: 1.375;
}

.body-info__subtitle p:not(:last-child) {
  margin-bottom: 0.5rem;
}

._watcher-view .body-info {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.gallery__title {
  opacity: 0;
  -webkit-transform: translateY(30%);
  -ms-transform: translateY(30%);
  transform: translateY(30%);
}

.gallery__title._watcher-view {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.gallery__body {
  display: grid;
}

.gallery__body:not(:last-child) {
  margin-bottom: 2rem;
}

.gallery__row {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 16rem;
}

.gallery__img-ibg {
  padding-bottom: 38.1%;
  overflow: hidden;
  border-radius: 0.5rem;
}

.gallery__img-ibg img {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.gallery__items {
  grid-column: span 2;
}

.gallery__link {
  line-height: 1.6875;
}

.gallery__link--1 {
  color: #0075FF;
  font-weight: 700;
}

.gallery__link--1::after {
  content: " /";
  color: #000;
}

.gallery__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.gallery__btn {
  padding: 1.3125rem 2.9375rem;
}

.testimonials__title {
  opacity: 0;
  -webkit-transform: translateY(30%);
  -ms-transform: translateY(30%);
  transform: translateY(30%);
}

.testimonials__title._watcher-view {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.testimonials__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3rem;
  -webkit-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
}

.testimonials__columns {
  opacity: 0;
  -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  padding: 0.3125rem;
}

.testimonials__columns._watcher-view {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.columns-testimonials__img {
  display: block;
  width: 9.375rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 9.375rem;
  flex: 0 0 9.375rem;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.5s linear 0.5s;
  transition: -webkit-transform 0.5s linear 0.5s;
  -o-transition: transform 0.5s linear 0.5s;
  transition: transform 0.5s linear 0.5s;
  transition: transform 0.5s linear 0.5s, -webkit-transform 0.5s linear 0.5s;
}

.columns-testimonials__img._watcher-view {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.columns-testimonials__img:not(:last-child) {
  margin-bottom: 2rem;
}

.columns-testimonials__img img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.columns-testimonials__name {
  color: #0075ff;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.25;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.columns-testimonials__name:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.columns-testimonials__job {
  font-size: 0.875rem;
  line-height: 1.5714285714;
  color: #9FADC2;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.columns-testimonials__job:not(:last-child) {
  margin-bottom: 0.625rem;
}

.columns-testimonials__text {
  line-height: 1.6875;
}

.columns-testimonials__text p:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.contact__title {
  opacity: 0;
  -webkit-transform: translateY(30%);
  -ms-transform: translateY(30%);
  transform: translateY(30%);
}

.contact__title._watcher-view {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  -o-transition: transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.9375rem;
  -moz-column-gap: 0.9375rem;
  column-gap: 0.9375rem;
  row-gap: 2.5rem;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  opacity: 0;
  -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.contact__body._watcher-view {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.body-contact__items {
  display: grid;
  grid-template-columns: repeat(2, minmax(9.375rem, 1fr));
  gap: 0.9375rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.body-contact__communications {
  display: grid;
  row-gap: 1.5rem;
}

.body-contact__adress p {
  line-height: 1.6875;
}

.body-contact__adress p:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.body-contact__form {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25rem;
  flex: 0 1 25rem;
}

.communications__title:not(:last-child) {
  margin-bottom: 0.5rem;
}

.communications__call {
  line-height: 1.6875;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.communications .email__title:not(:last-child) {
  margin-bottom: 0.5rem;
}

.communications .email__item {
  line-height: 1.6875;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.address__title:not(:last-child) {
  margin-bottom: 0.5rem;
}

.form ::-webkit-input-placeholder {
  color: #8f99a8;
  font-size: 0.875rem;
  line-height: 1.4285714286;
}

.form ::-moz-placeholder {
  color: #8f99a8;
  font-size: 0.875rem;
  line-height: 1.4285714286;
}

.form :-ms-input-placeholder {
  color: #8f99a8;
  font-size: 0.875rem;
  line-height: 1.4285714286;
}

.form ::-ms-input-placeholder {
  color: #8f99a8;
  font-size: 0.875rem;
  line-height: 1.4285714286;
}

.form ::placeholder {
  color: #8f99a8;
  font-size: 0.875rem;
  line-height: 1.4285714286;
}

.form input,
.form textarea {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #F6F8FF;
  padding: 0.875rem 1.0625rem;
  width: 100%;
  border-radius: 0.5rem;
  color: #000;
}

.form input {
  border: 0.125rem solid transparent;
  height: 3rem;
  font-size: 0.875rem;
  line-height: 1.4285714286;
}

.form input:focus {
  border-color: #0075FF;
}

.form textarea {
  border: 0.125rem solid transparent;
  resize: none;
  height: 8.8125rem;
  outline: none;
}

.form textarea:focus {
  border-color: #0075FF;
}

.form__inp-name:not(:last-child) {
  margin-bottom: 1rem;
}

.form__input-email:not(:last-child) {
  margin-bottom: 1rem;
}

.form__textarea:not(:last-child) {
  margin-bottom: 2rem;
}

.form .form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #0075FF;
  color: #fff;
  height: 3.5rem;
  max-width: 100%;
  font-weight: 700;
  line-height: 0.875;
  border-radius: 0.5rem;
}

.form .form__btn button {
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.form .form__btn button:active {
  -webkit-box-shadow: 0 0.5rem 0.875rem 0 rgba(0, 83, 181, 0.478);
  box-shadow: 0 0.5rem 0.875rem 0 rgba(0, 83, 181, 0.478);
  background-color: #005ECC;
}

.footer {
  height: 21.875rem;
  position: relative;
}

.footer__img-ibg {
  position: static;
  padding-bottom: 100%;
}

.footer__logo {
  position: absolute;
  width: 8.125rem;
  height: 5rem;
  left: 50%;
  bottom: 9.1428571429%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.footer__logo img {
  max-width: 100%;
}

@media (min-width: 63.99875em) and (any-hover: hover) {
  .icon-menu:hover::before {
    width: 50%;
  }

  .icon-menu:hover::after {
    width: 90%;
  }

  .header__items-call:hover .header__link--number {
    opacity: 1;
    visibility: visible;
  }
}

@media (min-width: 65.625em) {
  .header::before {
    height: 8rem;
  }

  .menu__body {
    padding-top: 9.375rem;
  }

  .menu__body {
    padding-left: 7.75rem;
  }

  .background__body {
    padding-top: 8.125rem;
  }

  .page__info {
    padding-top: 6.5rem;
  }

  .page__info {
    padding-bottom: 4rem;
  }

  .page__gallery {
    padding-top: 4rem;
  }

  .page__gallery {
    padding-bottom: 4rem;
  }

  .gallery__title:not(:last-child) {
    margin-bottom: 5rem;
  }

  .gallery__body {
    row-gap: 2.5rem;
  }

  .gallery__row--1 {
    grid-template-columns: minmax(42rem, 1fr) minmax(20.25rem, 1fr);
  }

  .gallery__row--2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery__row--3 {
    grid-template-columns: minmax(20.25rem, 1fr) minmax(42rem, 1fr);
  }

  .page__testimonials {
    padding-top: 4rem;
  }

  .page__testimonials {
    padding-bottom: 4rem;
  }

  .testimonials__title:not(:last-child) {
    margin-bottom: 3rem;
  }

  .page__contact {
    padding-top: 4rem;
  }

  .page__contact {
    padding-bottom: 6.5rem;
  }

  .contact__title:not(:last-child) {
    margin-bottom: 4.375rem;
  }
}

@media (min-width: 48em) {
  .title {
    font-size: 3rem;
  }

  .title {
    line-height: 3rem;
  }
}

@media (min-width: 64em) {
  .communications__call:hover {
    color: #0075ff;
  }

  .communications .email__item:hover {
    color: #0075ff;
  }

  .form input:hover {
    border-color: #CCD0E0;
  }

  .form textarea:hover {
    border-color: #CCD0E0;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 2.25rem;
  }

  .title {
    line-height: 2.25rem;
  }

  .header::before {
    height: 5rem;
  }

  .menu__body {
    padding-top: 7.5rem;
  }

  .menu__body {
    padding-left: 1.25rem;
  }

  .background__body {
    padding-top: 5rem;
  }

  .page__info {
    padding-top: 4rem;
  }

  .page__info {
    padding-bottom: 2rem;
  }

  .page__gallery {
    padding-top: 2rem;
  }

  .page__gallery {
    padding-bottom: 2rem;
  }

  .gallery__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .gallery__body {
    row-gap: 2rem;
  }

  .page__testimonials {
    padding-top: 2rem;
  }

  .page__testimonials {
    padding-bottom: 2rem;
  }

  .testimonials__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .page__contact {
    padding-top: 2rem;
  }

  .page__contact {
    padding-bottom: 4rem;
  }

  .contact__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 47.99875em) {
  .background__title {
    max-width: 21.25rem;
    font-size: 3.75rem;
    line-height: 1;
  }

  .info__container {
    grid-template-columns: 1fr;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .info__title {
    font-size: 2.25rem;
    line-height: 1;
    max-width: 14.875rem;
  }

  .gallery__row {
    grid-template-rows: 11.25rem;
  }

  .gallery__btn {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 80%;
    flex: 0 1 80%;
    text-align: center;
  }

  .testimonials__body {
    grid-template-columns: 1fr;
  }

  .contact__body {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .contact__body {
    display: grid;
    grid-template-columns: 1fr;
  }

  .body-contact__communications {
    justify-self: center;
  }

  .body-contact__adress {
    justify-self: center;
  }

  .body-contact__form {
    justify-self: center;
    width: 75%;
  }
}

@media (max-width: 29.99875em) {
  .header__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 5.125rem;
    flex: 0 0 5.125rem;
  }

  .background__title {
    max-width: 13.75rem;
    font-size: 2.5rem;
    line-height: 1;
  }

  .gallery__row {
    grid-template-rows: 8.1875rem;
  }

  .gallery__btn {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    text-align: center;
  }

  .body-contact__form {
    width: 100%;
  }

  .footer {
    height: 12.5rem;
  }

  .footer__logo {
    width: 5rem;
    height: 3.125rem;
    bottom: 12.5%;
  }
}

@media (max-width: 26.5625em) {
  .body-contact__items {
    grid-template-columns: 1fr;
  }

  .body-contact__communications {
    justify-self: start;
  }

  .body-contact__adress {
    justify-self: start;
  }
}

@media (min-width: 20em) and (max-width: 48em) {
  @supports (font-size: clamp(2.25rem, 1.7142857143rem + 2.6785714286vw, 3rem)) {
    .title {
      font-size: clamp(2.25rem, 1.7142857143rem + 2.6785714286vw, 3rem);
    }
  }

  @supports not (font-size: clamp(2.25rem, 1.7142857143rem + 2.6785714286vw, 3rem)) {
    .title {
      font-size: calc(2.25rem + 0.75 * (100vw - 20rem) / 28);
    }
  }

  @supports (line-height: clamp(2.25rem, 1.7142857143rem + 2.6785714286vw, 3rem)) {
    .title {
      line-height: clamp(2.25rem, 1.7142857143rem + 2.6785714286vw, 3rem);
    }
  }

  @supports not (line-height: clamp(2.25rem, 1.7142857143rem + 2.6785714286vw, 3rem)) {
    .title {
      line-height: calc(2.25rem + 0.75 * (100vw - 20rem) / 28);
    }
  }
}

@media (min-width: 20em) and (max-width: 65.625em) {
  @supports (height: clamp(5rem, 3.6849315068rem + 6.5753424658vw, 8rem)) {
    .header::before {
      height: clamp(5rem, 3.6849315068rem + 6.5753424658vw, 8rem);
    }
  }

  @supports not (height: clamp(5rem, 3.6849315068rem + 6.5753424658vw, 8rem)) {
    .header::before {
      height: calc(5rem + 3 * (100vw - 20rem) / 45.625);
    }
  }

  @supports (padding-top: clamp(7.5rem, 6.6780821918rem + 4.1095890411vw, 9.375rem)) {
    .menu__body {
      padding-top: clamp(7.5rem, 6.6780821918rem + 4.1095890411vw, 9.375rem);
    }
  }

  @supports not (padding-top: clamp(7.5rem, 6.6780821918rem + 4.1095890411vw, 9.375rem)) {
    .menu__body {
      padding-top: calc(7.5rem + 1.875 * (100vw - 20rem) / 45.625);
    }
  }

  @supports (padding-left: clamp(1.25rem, -1.5993150685rem + 14.2465753425vw, 7.75rem)) {
    .menu__body {
      padding-left: clamp(1.25rem, -1.5993150685rem + 14.2465753425vw, 7.75rem);
    }
  }

  @supports not (padding-left: clamp(1.25rem, -1.5993150685rem + 14.2465753425vw, 7.75rem)) {
    .menu__body {
      padding-left: calc(1.25rem + 6.5 * (100vw - 20rem) / 45.625);
    }
  }

  @supports (padding-top: clamp(5rem, 3.6301369863rem + 6.8493150685vw, 8.125rem)) {
    .background__body {
      padding-top: clamp(5rem, 3.6301369863rem + 6.8493150685vw, 8.125rem);
    }
  }

  @supports not (padding-top: clamp(5rem, 3.6301369863rem + 6.8493150685vw, 8.125rem)) {
    .background__body {
      padding-top: calc(5rem + 3.125 * (100vw - 20rem) / 45.625);
    }
  }

  @supports (padding-top: clamp(4rem, 2.904109589rem + 5.4794520548vw, 6.5rem)) {
    .page__info {
      padding-top: clamp(4rem, 2.904109589rem + 5.4794520548vw, 6.5rem);
    }
  }

  @supports not (padding-top: clamp(4rem, 2.904109589rem + 5.4794520548vw, 6.5rem)) {
    .page__info {
      padding-top: calc(4rem + 2.5 * (100vw - 20rem) / 45.625);
    }
  }

  @supports (padding-bottom: clamp(2rem, 1.1232876712rem + 4.3835616438vw, 4rem)) {
    .page__info {
      padding-bottom: clamp(2rem, 1.1232876712rem + 4.3835616438vw, 4rem);
    }
  }

  @supports not (padding-bottom: clamp(2rem, 1.1232876712rem + 4.3835616438vw, 4rem)) {
    .page__info {
      padding-bottom: calc(2rem + 2 * (100vw - 20rem) / 45.625);
    }
  }

  @supports (padding-top: clamp(2rem, 1.1232876712rem + 4.3835616438vw, 4rem)) {
    .page__gallery {
      padding-top: clamp(2rem, 1.1232876712rem + 4.3835616438vw, 4rem);
    }
  }

  @supports not (padding-top: clamp(2rem, 1.1232876712rem + 4.3835616438vw, 4rem)) {
    .page__gallery {
      padding-top: calc(2rem + 2 * (100vw - 20rem) / 45.625);
    }
  }

  @supports (padding-bottom: clamp(2rem, 1.1232876712rem + 4.3835616438vw, 4rem)) {
    .page__gallery {
      padding-bottom: clamp(2rem, 1.1232876712rem + 4.3835616438vw, 4rem);
    }
  }

  @supports not (padding-bottom: clamp(2rem, 1.1232876712rem + 4.3835616438vw, 4rem)) {
    .page__gallery {
      padding-bottom: calc(2rem + 2 * (100vw - 20rem) / 45.625);
    }
  }

  @supports (margin-bottom: clamp(1.875rem, 0.5051369863rem + 6.8493150685vw, 5rem)) {
    .gallery__title:not(:last-child) {
      margin-bottom: clamp(1.875rem, 0.5051369863rem + 6.8493150685vw, 5rem);
    }
  }

  @supports not (margin-bottom: clamp(1.875rem, 0.5051369863rem + 6.8493150685vw, 5rem)) {
    .gallery__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 45.625);
    }
  }

  @supports (row-gap: clamp(2rem, 1.7808219178rem + 1.095890411vw, 2.5rem)) {
    .gallery__body {
      row-gap: clamp(2rem, 1.7808219178rem + 1.095890411vw, 2.5rem);
    }
  }

  @supports not (row-gap: clamp(2rem, 1.7808219178rem + 1.095890411vw, 2.5rem)) {
    .gallery__body {
      row-gap: calc(2rem + 0.5 * (100vw - 20rem) / 45.625);
    }
  }

  @supports (padding-top: clamp(2rem, 1.1232876712rem + 4.3835616438vw, 4rem)) {
    .page__testimonials {
      padding-top: clamp(2rem, 1.1232876712rem + 4.3835616438vw, 4rem);
    }
  }

  @supports not (padding-top: clamp(2rem, 1.1232876712rem + 4.3835616438vw, 4rem)) {
    .page__testimonials {
      padding-top: calc(2rem + 2 * (100vw - 20rem) / 45.625);
    }
  }

  @supports (padding-bottom: clamp(2rem, 1.1232876712rem + 4.3835616438vw, 4rem)) {
    .page__testimonials {
      padding-bottom: clamp(2rem, 1.1232876712rem + 4.3835616438vw, 4rem);
    }
  }

  @supports not (padding-bottom: clamp(2rem, 1.1232876712rem + 4.3835616438vw, 4rem)) {
    .page__testimonials {
      padding-bottom: calc(2rem + 2 * (100vw - 20rem) / 45.625);
    }
  }

  @supports (margin-bottom: clamp(1.875rem, 1.3818493151rem + 2.4657534247vw, 3rem)) {
    .testimonials__title:not(:last-child) {
      margin-bottom: clamp(1.875rem, 1.3818493151rem + 2.4657534247vw, 3rem);
    }
  }

  @supports not (margin-bottom: clamp(1.875rem, 1.3818493151rem + 2.4657534247vw, 3rem)) {
    .testimonials__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.125 * (100vw - 20rem) / 45.625);
    }
  }

  @supports (padding-top: clamp(2rem, 1.1232876712rem + 4.3835616438vw, 4rem)) {
    .page__contact {
      padding-top: clamp(2rem, 1.1232876712rem + 4.3835616438vw, 4rem);
    }
  }

  @supports not (padding-top: clamp(2rem, 1.1232876712rem + 4.3835616438vw, 4rem)) {
    .page__contact {
      padding-top: calc(2rem + 2 * (100vw - 20rem) / 45.625);
    }
  }

  @supports (padding-bottom: clamp(4rem, 2.904109589rem + 5.4794520548vw, 6.5rem)) {
    .page__contact {
      padding-bottom: clamp(4rem, 2.904109589rem + 5.4794520548vw, 6.5rem);
    }
  }

  @supports not (padding-bottom: clamp(4rem, 2.904109589rem + 5.4794520548vw, 6.5rem)) {
    .page__contact {
      padding-bottom: calc(4rem + 2.5 * (100vw - 20rem) / 45.625);
    }
  }

  @supports (margin-bottom: clamp(1.875rem, 0.779109589rem + 5.4794520548vw, 4.375rem)) {
    .contact__title:not(:last-child) {
      margin-bottom: clamp(1.875rem, 0.779109589rem + 5.4794520548vw, 4.375rem);
    }
  }

  @supports not (margin-bottom: clamp(1.875rem, 0.779109589rem + 5.4794520548vw, 4.375rem)) {
    .contact__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 2.5 * (100vw - 20rem) / 45.625);
    }
  }
}

@media (any-hover: hover) {
  .button:hover {
    color: #fff;
    border: 0.125rem solid transparent;
    background-color: #005ECC;
    -webkit-box-shadow: 0 0.8125rem 1.6875rem 0 rgba(0, 83, 179, 0.459);
    box-shadow: 0 0.8125rem 1.6875rem 0 rgba(0, 83, 179, 0.459);
  }

  .menu-open .icon-menu:hover::before {
    width: 100%;
  }

  .menu-open .icon-menu:hover::after {
    width: 100%;
  }

  .header__link--number:hover {
    color: rgb(13, 13, 43);
  }

  .menu__link:hover::before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .menu__call:hover {
    color: rgb(42, 42, 120);
  }

  .menu__order:hover::before {
    background-color: rgb(51, 51, 158);
  }

  .menu__order:hover {
    color: rgb(51, 51, 158);
  }

  .gallery__img-ibg img:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-filter: brightness(1.11);
    filter: brightness(1.11);
  }

  .columns-testimonials__img img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-filter: brightness(1.1);
    filter: brightness(1.1);
  }

  .columns-testimonials__name:hover {
    color: #01418a;
  }

  .columns-testimonials__job:hover {
    color: #717c8d;
  }

  .form .form__btn button:hover {
    background-color: #005ECC;
    -webkit-box-shadow: 0 0.8125rem 1.6875rem 0 rgba(0, 83, 179, 0.459);
    box-shadow: 0 0.8125rem 1.6875rem 0 rgba(0, 83, 179, 0.459);
  }
}

@media (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}